@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* .krona-one-regular {
    font-family: var(--fuente-krona);
    font-weight: 400;
    font-style: normal;
  } 

.montserrat-<uniquifier> {
  font-family: var(--fuente-montserrat);
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

:root {
  --color-primario: #000000;
  --color-secundario: #f6f6f6;
  --color-terciario: #22d4fd;

  --fuente-montserrat: "Montserrat", sans-serif;
  --fuente-krona: "Krona One", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-primario);
  color: var(--color-secundario);
  box-sizing: border-box;
}

/* header */
.header {
  padding: 2% 0 0 5%;
}

.header__menu {
  display: flex;
  gap: 80px;
}

.header__menu__link {
  font-family: var(--fuente-montserrat);
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--color-terciario);
}

/* main  */

.presentacion {
  align-items: center;
  display: flex;
  margin: 5% 15%;
  justify-content: space-between;
  user-select: none;
}

.presentacion__contain {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.presentacion__contain__titulo {
  font-family: var(--fuente-krona);
  font-size: 2.25rem;
  font-weight: 400;
}

.blue-title {
  color: var(--color-terciario);
}

.presentacion__contain__texto {
  font-family: var(--fuente-montserrat);
  font-size: 1.5rem;
  font-weight: 400;
}

.presentacion__botones {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.presentacion__botones__subtitulo {
  font-family: var(--fuente-krona);
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.presentacion__botones__link {
  border-radius: 16px;
  width: 381px;
  padding: 16px 0;
  background-color: transparent;
  text-decoration: none;
  color: var(--color-secundario);
  font-family: var(--fuente-montserrat);
  font-size: 1.5rem;
  font-weight: 600;
  border: 2px solid var(--color-terciario);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;
  gap: 10px;
}

.presentacion__botones__link i {
  color: var(--color-terciario);
  font-size: 2rem;
  transition: all 0.5s ease;
}

.presentacion__botones__link:hover {
  background-color: var(--color-terciario);
}

.presentacion__botones__link:hover i {
  color: var(--color-primario);
}

/* footer  */

.footer {
  padding: 24px;
  background-color: var(--color-terciario);
  user-select: none;
  text-align: center;
  font-family: var(--fuente-montserrat);
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-primario);
}
